<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.KaoqinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.entity.Kaoqin">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="tid" property="tid" />
        <result column="name" property="name" />
        <result column="optime" property="optime" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, tid, name, optime, isdel
    </sql>

</mapper>
